    body{
        background-color:#3F0061;
    }

    div.page{
        padding: 4%;
        background-color: #E1BEE7;
        margin: 4% 15%;
        max-width: 500px;
    }
    
    h1{
      font-family: "trebuchet ms", tahoma, "sans serif";
      color: indigo;
      font-size:2.3vw; 
      line-height:2.5vw;
      letter-spacing: 3vw; 
      margin-left: 5%; 
      margin-right: 5%; 
      text-align: center;
      text-shadow: 0.08em 0.08em 0.15em RebeccaPurple, -0.08em -0.08em 0.15em MediumPurple;
      font-style: bold;
      -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10 and IE 11 */
      user-select: none; /* Standard syntax */
    }

    /* FIELDSET */
    fieldset{
      background-color: hsl(259, 50%, 74%, 40%);
      border: 3px solid;
      border-color: #6d0792 #bd24f5 #bd24f5 #6d0792;
      max-width:100%;
      padding-left:3%;
      padding-right:3%;
    }

    textarea{
      resize: vertical; 
      width: 99%;
      border-radius: 5px;
    }
    label{
      -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10 and IE 11 */
      user-select: none; /* Standard syntax */
    }
    legend{
      font-family: 'Alegreya', serif;
      font-style:italic;
      color: indigo;
    }

    em{
      font-style: italic;
      font-family: 'Alegreya', serif;
    }

    b{
      font-style: bold normal;
      font-family: 'Alegreya', serif;
    }

    .sorular{
      line-height: 1.2rem;
      font-family: 'Alegreya', serif;
    }

    textarea:active{
      background-color:lavender;
    }
    textarea:focus{
      background-color:lavender;
    }


    /* BUTTONS */
    input[type=submit] {
      color:white;
      background-color: #9932cc;  
      border: 3px solid;
      border-color:#bd24f5 #6d0792 #6d0792 #bd24f5; /* top right bottom left */
      padding: 10px 28px;
      text-align: center;
      font-family: ubuntu;
    }
    input[type=submit]:hover {
      color:white;
      background-color: #ae5bd7; 
      border: 3px solid;
      border-color:#c284e1 #9932cc #9932cc #c284e1; /* top right bottom left */
      cursor:pointer;
    }
    input[type=submit]:active {
      color:white;
      background-color: #590099;  
      border: 3px solid;
      border-color:#3d1452 #a446d2 #a446d2 #3d1452; /* top right bottom left */
    }

    input[type=file]::file-selector-button {
      margin-right: 20px;
      border: solid 1px grey;
      background: white;
      padding: 7px 15px;
      border-radius: 5px;
      color: black;
      cursor: pointer;
      transition: background .2s ease-in-out;
    }

    input[type=file]::file-selector-button:hover {
      background: lavender;
    }


    /*SELECTS*/
    select{
      font-family: monospace;
      font-style: bold;
    }
    .nameSelect{
      padding: 5px 10px;
      border-radius:1rem;
    }
    .nameSelect:focus {
      background-color: #f3f0f4;
    }


    /* Tooltip container */

    .tooltip {
      position: relative;
      display: inline-block;
      border-bottom: 1px dotted black;
    }

    .tooltip .tooltiptext {
      visibility: hidden;
      width: 120px;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 1;
      bottom: 150%;
      left: 50%;
      margin-left: -60px;
    }

    .tooltip .tooltiptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: black transparent transparent transparent;
    }
    .tooltip:hover .tooltiptext {
      visibility: visible;
    }


      /* The Modal (background) */
      .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }

      /* Modal Content */
      .modal-content {
        background-color: lavender;
        margin: auto 20% auto 20%;
        padding: 20px;
        border: 1px solid #888;
        width: 60%;
      }



      /* The Close Button */
      .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }

      .close:hover,
      .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }
      /* soru yaz buttonu - YEŞİL*/
      button#writeBtn{
        color:#e6fff9;
        background-color: #009B77;
        border: 3px solid;
        border-color: #00cc9c #004d3b    #004d3b    #00cc9c   ; /* top right bottom left */
        padding: 10px 28px;
        text-align: center;
      }
      button#writeBtn:hover {
        color:#e6fff9;
        background-color: #00cc9c;
        border: 3px solid;
        border-color:#00ffc3 #008062 #008062 #00ffc3; /* top right bottom left */
        cursor:pointer;
      }
      button#writeBtn:active {
        color:#e6fff9;
        background-color: #004d3b;
        border: 3px solid;
        border-color:#003327 #009975 #009975 #003327; /* top right bottom left */
      }

      /* soru yaz buttonu - SARI*/
      button#selectBtn{
        color:#FEFEFE;
        background-color: #FFA500;
        border: 3px solid;
        border-color:#ffc14d #cc8500 #cc8500 #ffc14d; /* top right bottom left */
        padding: 10px 28px;
        text-align: center;
      }
      button#selectBtn:hover {
        color:white;
        background-color: #ffaf1a;
        border: 3px solid;
        border-color:#ffc966 #e69500 #e69500 #ffc966; /* top right bottom left */
        cursor:pointer;
      }
      button#selectBtn:active {
        color:white;
        background-color: #996300;
        border: 3px solid;
        border-color:#664200 #cc8500 #cc8500 #664200; /* top right bottom left */
      }


      /*SELECTS*/
      .nameSelect{
        padding: 5px 10px;
        border-radius:1rem;
      }
      .nameSelect:focus {
        background-color: #f3f0f4;
      }
      .questionSelect {
        width: 94%;
        overflow-x: scroll;
        overflow-wrap: break-word !important;
        white-space: normal !important;
        text-overflow: ellipsis;
        -webkit-appearance: none;
        padding: 5px 10px;
        border-radius:1rem;
      }
      .questionSelect:focus {
        background-color: #f3f0f4;
      }
      option {
        max-width: 100px;
        overflow-x: scroll;
        overflow-wrap: break-word !important;
        white-space: normal !important;
        text-overflow: ellipsis;
        -webkit-appearance: none;
      }

      hr{
        border: 1px solid black;
      }
      form{
        margin-left: auto;
        margin-right: auto;
        max-width:500px;
      }
